<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JN_Me</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/47502-wisteria-flower-purple-lavender-painted-flowers.png" />
</head>
<body class="hero-pattern">
    <header>
        <nav class="navbar navbar-light navbar-1 white mb-4 Boxing" style="border: 4px solid white; background-color: white;">

            <!-- Navbar brand -->
            <a class="navbar-brand" asp-page="/Index" style="padding-left:30px;">JN</a>

            <div id="sfcx2u69nkzzbh1bl39gcraj6m2pbnx7cu9"></div>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent15">

                <!-- Links -->
                <ul class="navbar-nav mr-auto" style=" width: 12%; margin: auto; padding: 10px; text-align:center">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect waves-light" asp-area="" asp-page="/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="https://docs.google.com/document/d/1hFnFDhwmVMnfpRR9oEVMNtTiYuD3sjUZji5O8rD8i14/edit?usp=sharing">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" asp-area="" asp-page="/Contact">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" asp-area="" asp-page="/UIUX">UI/UX Research</a>
                    </li>
                </ul>
                <!-- Links -->

            </div>
            <!-- Collapsible content -->

        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:white; width: 100%">
        <div class="container">
            &copy; 2022 - Jenny Nguyen
        </div>
    </footer>

    <script type="text/javascript" src="https://counter2.stat.ovh/private/counter.js?c=x2u69nkzzbh1bl39gcraj6m2pbnx7cu9&down=async" async></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
