@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Information";
}

<div class="container">
    <div class="tabling">
        <div>
            <div>
                <h3 style="padding-top: 50px; padding-left: 30px;">
                    Contact Information
                </h3>
                <div class="Boxing">
                    <h5>Email</h5>
                    <p style="padding-left:10%;">
                        Jenny.Nguyen@jacks.sdstate.edu
                        or
                        JennyLN10110@outlook.com
                    </p>
                    <h5>References</h5>
                    <ul>
                        <li>Miranda Sampson [IT Specialist]: Miranda.Sampson@sdstate.edu</li>
                        <li>Anna Kurtz [IT Programmer]: Anna.Kurtz@sdstate.edu</li>
                        <li>Sydney Berry [Friend]: Sydney.Berry@jacks.sdstate.edu</li>
                        <li>Noah Bentley [Friend]: Noah.Bentley@jacks.sdstate.edu</li>
                    </ul>
                    <br><br />
                </div>
            </div>
        </div>
    </div>
</div>