@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="tabling">
        <div>
            <div>
                <h3 style="padding-top: 50px; padding-left: 30px;">
                    About Me
                </h3>
                <table class="Boxing">
                    <tr>
                        <td><img src="~/img/IMG_2926.jpg" alt="It's a picture of meee :D'" style="width:99%; border-radius:5px" /></td>
                        <td style="padding-left:30px;">
                            <p class="text-center">
                                My name is Jenny Nguyen and I am currently studying Computer Science as a Senior at South Dakota State University. I plan on graduating on May 2022, if everything goes according to plan haha 😐.

                                Anyways, welcome to my page! As you can tell I'm interested in different fields; User Experience, Web development, and Product/Project Management. Basically anything that would involve a creative mind and impacting consumers/users directly.

                                My long-term goal in life is to live with little to no regrets, if possible. So with that goal in mind, I wish to bring that into my work. To give the best product I can and be proud of it.

                                I hope you enjoy being here and thank you for visiting!!
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <h3 style="padding-top: 50px; padding-left: 30px;">
                    Projects
                </h3>
                <p class="f1" style="padding-left: 20%; padding-right: 20%;">
                    <a href="">Personal Website</a><br />
                    Where you are now! Just a little introduction site to say hi and get to know me.
                    Tech used: HTML, CSS, XD, and Illustrator
                    <br /><br />
                    <a href="https://jeninuwin.github.io/JennyNguyen/">Original Personal Website</a><br />
                    This is my first time attempting on making a personal portfolio. Tried to play with different elements to allow myself to get comfortable with CSS and HTML. I didn't dabbled with Javascript because, I didn't know how to connect them both.
                    Tech Used: HTML and CSS
                    <br /><br />
                    <a href="https://jeninuwin.github.io/Cats/">Cats</a><br />
                    This will show information about a variety of cats in the wild and domesticated.
                    Tech used: HTML && CSS
                    <br /><br />
                    Barcode<br />
                    This takes a 12 digit code that will calculate if the barcode is valid or not.
                    Tech used: Java || Ada
                    <br /><br />
                    BITS Project<br />
                    This was a group project for Software Project Management & Testing course. We were tasked to create a system that could be used by BITS company, which was an outdoor gym that consisted the following attractions: Track, Soccer Fields, Batting Cages, and a Concession Stand.
                    Tech Used: SQL, HTML, CSS, Javascript, and C#
                    <br /><br />
                          <a href="https://www.sdstate.edu/sites/default/files/file-archive/2021-08/UR037_2021_CampusMap_Accessible.pdf">Campus Map</a><br />
                    Updating the campus map because a new building was finally finished and showcased graphic design knowledge. Inputted new information of the building into the database, along with updating the sidewalks to that building.
                    Tech Used: SQL, HTML, CSS
                    <br /><br />
                    <a href="https://help.sdstate.edu/">TDX</a><br />
                    Assigned to design and test icons/graphics to represent a section. Designed the Knowledge Base, Services, and Submit a Ticket Icon.
                </p>
                <br>
            </div>
            <div>
                <h3 style="padding-top: 50px; padding-left: 30px;">
                    Skills
                </h3>
                <table style="width: 50%; margin-left: auto; margin-right: auto; ">
                    <tr>
                        <th>Soft Skills</th>
                        <th>Tech Skills</th>
                    </tr>
                    <tr>
                        <td>
                            Strong communication
                        </td>
                        <td>
                            HTML/CSS/a little bit Javascript
                        </td>
                    </tr>
                    <tr>
                        <td>Hard-Working</td>
                        <td>Figma</td>
                    </tr>
                    <tr>
                        <td>Creative</td>
                        <td>Adobe XD/Illustrator</td>
                    </tr>
                </table>
            </div>
            <div style="padding-bottom: 50px;">
                <h3 style="padding-top: 50px; padding-left: 30px;">
                    Photos
                </h3>
                <p class="text-center">
                    One of my favorite pastimes is photography and gardening! You can always ask me what I'm currently growing.
                </p>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="padding-left: 350px; margin:auto">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/img/IMG_2643.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/img/IMG_2663.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/img/IMG_2755.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/img/IMG_2952.jpg" alt="Fifth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/img/IMG_2937.jpg" alt="Sixth slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
