@page
@model UIUXModel
@{
}

<div class="container">
    <div class="tabling">
        <div>
            <div style="padding-bottom: 30px;">
                <h3 style="padding-top: 50px; padding-left: 30px;">
                    UI/UX
                </h3>
                <table class="Boxing">
                    <tr>
                        <th>
                            <a href="https://miro.com/app/board/uXjVOOjbA0Q=/?invite_link_id=867137798458">SP22 UI/UX Course</a>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            This is a semester long project that involves: research on the website, user groups, empathy maps, testing usability, test plans, and more. <br />
                            Take a look at where we are at on this project!<br />[p.s My very first project with UI/UX]
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>