@page
@model UIUXModel
@{
}

<div class="container">
    <div class="tabling">
        <div>
            <div style="padding-bottom: 30px;">
                <h3 style="padding-top: 50px; padding-left: 30px;">
                    UI/UX
                </h3>
                <table class="Boxing">
                    <tr>
                        <th>
                            <a href="https://miro.com/app/board/uXjVOOjbA0Q=/?invite_link_id=867137798458">SP22 UI/UX Course</a>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            This is a semester long project that involves: research on the website, user groups, empathy maps, testing usability, test plans, and more. <br />
                            Take a look at where we are at on this project!<br />[p.s My very first project with UI/UX]
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <a href="https://xd.adobe.com/view/b2c8073b-f2ba-46d0-a19f-fb14d1496adc-e79b/">Failed Version Website WireFrame</a>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            This is a Failed version of the website I wanted to create. The reason why it failed was because I was 
                            <ul>
                                <li>
                                    Did not do enough research on how to do some of the functions
                                </li>
                                <li>
                                    Was too high-level than I had orignially thought
                                </li>
                                <li>
                                    Although it does look good. I did underestimated how much time this would consume
                                </li>
                            </ul>
                            That is why this is a failed version. Maybe one day I'll tackle this wireframe down, but for now I'll continue to learn more about web development and put it into practice.'
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>